@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header,
.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 8px 192px;
    display: flex;
    flex-direction: column;
}

.head-top {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    gap: 32px;
}

.head-logo,
.head-hero {
    font-weight: bolder;
}
.head-logo {
    font-size: 24px;    
}

.head-hero {
    font-size: 48px;
}

.head-main {
    padding: 64px 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.head-main-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 50%;
}

.head-main-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    background-color: gray;
    padding: 10%;    
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 192px;
}

.info-head {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 64px;
    text-align: center;
}

.info-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.info-sub {
    display: flex;
    flex-direction: column;
    width: 150px;
    flex: 0 1 auto;
}

.info-block {
    display: flex;
    flex: 0 1 auto;
    padding: 64px;
    border: 5px solid #2882f6;
    border-radius: 8px;
}

.info-text {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px 0;
}

.quote-box {
    display: flex;
    flex-direction: column;
    max-width: 58%;
}

.quote-text,
.quote-credit {
    color: #1F2937;
}

.quote-text {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-credit {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    align-self: flex-end;
}

.call {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    text-align: center;
    padding: 32px;
}

button,
.call-box {
    background-color: #3882F6;
    color: white;
}

.call-box {
    display: flex;

    justify-content: space-between;
    align-self: center;
    width: 576px;
    flex: 1 0 auto;
    margin: 64px 192px;
    padding: 32px 64px;
    border-radius: 8px;
    gap: 128px;
}
.call-top {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
}

.call-button {
    align-self: center;
    border: 3px solid #E5E7EB;
    margin: 0;
}

button {
    align-self: start;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: bold;
    white-space: nowrap;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

